{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-embossed nav-main" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand sketchy-font" href="/">Sketchify</a>
            </div>
          </nav>
{% endblock %}
{% block container %}

<div class="container content">
    <h2>Regrets</h2>
    <p>We can't find that page. And that's like, the whole point of this site.</p>
    <small>sorry about that</small>
</div>

{% endblock %}
