{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-embossed nav-main" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand sketchy-font" href="/">Sketchify</a>
    </div>
</nav>
{% endblock %}
{% block container %}

<div class="container content">
    <h2>Aw snap y'all</h2>
    <div class="container>">
        <img id="nomoney" src="https://i.ytimg.com/vi/B-cr_PNN58E/maxresdefault.jpg"/>
        <p>Turns out this site is powered by money. We ran out of Google App Engine credit. Fear not, we'll get more within 24 hours.</p>
        <p>In the meantime, you can use <a href="http://www.shadyurl.com">www.shadyurl.com</a> for all your dodgy URL needs.</p>
        <small>sorry about this</small>
    </div>
</div>

{% endblock %}
