{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-embossed nav-main" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand sketchy-font" href="#">Sketchify</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="#about">
                      What is this?
                  </a></li>
                <li><a href="#api">API</a></li>
               </ul>
            </div><!-- /.navbar-collapse -->
          </nav>
{% endblock %}
{% block container %}

<div class="container content">
</div>
<div>
    <div class="shoutout text-center">
        <h2 class="slogan slideout">Turn any link into a suspicious looking one</h2>
    </div>
    <div class="example slideout text-center">
        <p class="muted"> e.g. <a href="//{{sample_long_url}}">{{sample_long_url}}</a></p>
        <span class="muted glyphicon glyphicon-arrow-down downarrow" aria-hidden="true"></span>
        <p class="muted sketchy-url"> <a href="//{{sample_sketchy_url}}">{{sample_sketchy_url}}</a></p>
    </div>
</div>

<div id="main" class="container form-horizontal slideout sketchify-form-div">

        <div class="result text-center slideable" style="display: none;">
            <p class="result result-long"></p>
            <span class="glyphicon glyphicon-arrow-down downarrow-lg" aria-hidden="true"></span>
            <p class="result result-sketchy sketchy-url" id="result"></p>

            <div class="copy">
                <button class="btn btn-primary copy" data-clipboard-target="#result" alt="Copy to clipboard">Copy to clipboard</button>
            </div>

            <h4 class="result about muted">
                Now go send someone this 👌completely legit👌 link.
            </h4>
        </div>

        <div class="spinner container invis" style="">
            <h3 id="loading" class="shake-hard shake-constant shake-constant--hover">[DODGYNESS INTENSIFIES]</h3>
        </div>

        <form class="sketchify" action="#">

            <div class="error text-center" style="display: none;" >
                <p class="error">
                Really not feelin' up to that right now, sorry 🙅
                </p>

            </div>
            <div class="sketchify-form slideable">
                <input autofocus type="text" value="" placeholder="Why not try {{ referrer or "http://google.com" }}" class="form-control long-url">
                <div class="sketchify-buttons">
                    <button type="button " class="btn btn-block btn-lg btn-inverse btn-large btn-sketchify">Make it look dodgy</button>
                </div>
            </div>
        </form>
</div>
    <div class="container faq">
        <div class="container" id="about">
            <h4 class="faq-item">
                Like a URL shortener, but worse
            </h4>
            <div class="faq-item">
                <p class="muted outro">
                Who needs a <em>shorter</em> link? Not you, my friend.
                I mean, when you send someone a link, they just click it <em>anyway</em>, so you might as well send 'em a real clanger.
                This is truly crucial browsing.
                </p>
            </div>
        </div>
        <div class="container">
            <h4 class="faq-item">Is it safe?</h4>
            <div class="faq-item ">
                <p class="muted outro">
                Uhhh well listen I mean it's probably about as safe as a regular URL shortener, but I wouldn't use it for something you're not okay with being randomly redirected to <a href="http://www.twindog.co/">Tinder for Dogs</a>.
                </p>
            </div>
        </div>
        <div class="container">
            <h4 class="faq-item">Wait so how do I know the link doesn't <em>actually</em> go somewhere dodgy?</h4>
            <div class="faq-item ">
                <p class="muted outro">
                You're just gonna have to trust whoever sends it to you.
                </p>
            </div>
        </div>
        <div class="container" id="api">
            <h4 class="faq-item">I want to use this service for my own project</h4>
            <div class="faq-item">
                <p class="muted outro">
                Sure thing. Have a browse of the "documentation" <a href="https://github.com/defaultnamehere/verylegit.link">on GitHub</a>.
                </p>
            </div>
        </div>

        <div class="container">
            <h4 class="faq-item">How does it work?</h4>
            <div class="faq-item">
                <p class="muted outro">
                    Due to rapid advancement in dark ritual technology, the programming community has streamlined the development and deployment of unspeakable eldritch horrors. Using robust open-source libraries like a sack of live geese, websites like this one can be developed with far more efficient sacrificial rituals than ever before. We're still stuck on the version with really inefficient sacrifical rituals though, due to comp͆aͭatib̊i̼͕l̈̿i̮̜t̚y̅ ͊i͋s̾s̢͈͠u̶e̛̊s̼̃.
                </p>
            </div>
        </div>


    </div>
    <div class="social-item">

    </div>
    <div class="footer">
        <a class="github-button" href="https://github.com/defaultnamehere/verylegit.link" data-style="mega" data-count-href="/defaultnamehere/verylegit.link/stargazers" data-count-api="/repos/defaultnamehere/verylegit.link#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star defaultnamehere/verylegit.link on GitHub">Star</a>
        <p class="footer">
        Talk to me about this if you want: <a href="https://twitter.com/@mangopdf">@mangopdf</a>
        </p>
    </div>
</div>

{% endblock %}
{% block includejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
