{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-embossed nav-main" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand sketchy-font" href="#">Sketchify</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="#about">
                      What is this?
                  </a></li>
                <li><a href="#api">API</a></li>
               </ul>
            </div><!-- /.navbar-collapse -->
          </nav>
{% endblock %}
{% block container %}

<div class="container content">
</div>
<div>
    <div class="shoutout text-center">
        <h2 class="slogan slideout">Turn any link into a suspicious looking one</h2>
    </div>
    <div class="example slideout text-center">
        <p class="muted"> e.g. <a href="{{sample_long_url}}">{{sample_long_url}}</a></p>
        <span class="muted glyphicon glyphicon-arrow-down downarrow" aria-hidden="true"></span>
        <p class="muted"> <a href={{sample_sketchy_url}}>{{sample_sketchy_url}}</a></p>
    </div>
</div>

<div id="main" class="container form-horizontal slideout sketchify-form-div">

        <div class="result text-center slideable" style="display: none;">
            <p class="result result-long"></p>
            <span class="glyphicon glyphicon-arrow-down downarrow-lg" aria-hidden="true"></span>
            <p class="result result-sketchy"></p>

            <h4 class="result about muted">
                Now go send someone this completely legit link.
            </h4>
        </div>

        <div class="spinner container invis" style="">
            <h3 id="loading" class="shake-hard shake-constant shake-constant--hover">[DODGYNESS INTENSIFIES]</h3>
        </div>

        <form class="sketchify" action="#">

            <div class="error text-center" style="display: none;" >
                <p class="error">
                That doesn't look like a URL 🙅
                </p>

            </div>
            <div class="sketchify-form slideable">
                <input type="text" value="" placeholder="e.g. http://google.com" class="form-control long-url">
                <div class="sketchify-buttons">
                    <button type="button " class="btn btn-block btn-lg btn-inverse btn-large btn-sketchify" >Make it look dodgy</button>
                </div>
            </div>
        </form>
</div>
    <div class="container faq">
        <div class="container">
            <h4 class="faq-item">
                Like a URL shortener, but worse
            </h3>
            <div class="faq-item " id="about">
                <p class="muted outro">
                Who needs a shorter link? Not you, my friend.
                I mean, when you send someone a link, they just click it <em>anyway</em>, so you might as well find within yourself the strength to bring chaos and hesitation to your internet colleagues.
                </p>
                <p class="muted outro">
                Next time you want to send someone an article, why not <em>dream a little bigger</em>?
                </p>
            </div>
        </div>
        <div class="container">
            <h4 class="faq-item">Is it safe?</h3>
            <div class="faq-item ">
                <p class="muted outro">
                Uhhh well listen I mean it's probably about as safe as a regular URL shortener, but I wouldn't use it for something you're not okay with being randomly redirected to <a href="http://www.twindog.co/">Tinder for Dogs</a>.
                </p>
            </div>
        </div>
        <div class="container" id="api">
            <h4 class="faq-item">I want to use this service for my own project</h3>
            <div class="faq-item">
                <p class="muted outro">
                Sure thing. Just <span class="code">POST long_url=https://example.com</span> to <span class="code">/sketchify</span> and you'll get back a URL.
                </p>

                <p class="muted outro">
                    Shout out to <a href="http://www.shadyurl.com/">ShadyURL</a>, for being like this but also from 2010.
                </p>
            </div>
        </div>

    </div>
    <div class="footer">
        <p class="footer">
        Talk to me about this if you want: <a href="https://twitter.com/@_notlikethis">@_notlikethis</a>
        </p>
    </div>
</div>

{% endblock %}
{% block includejs %}
    <script src="../static/js/main.js"></script>
{% endblock %}
